body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}
h1 {
    font-size: 20px;
}

header {
    text-align: left;
    background-color: black;
    color: white;
    margin-top:10px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 0px;
}








.video-author {
    margin-bottom: 40px;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
}

.video {
    margin-right: 10px;
    margin-bottom: 20px;
}

.video iframe {
    width: 700px;
    height: 530px;

}

@media screen and (max-width: 600px) {
    .video {
        margin-right: 0;
    }
    .video iframe {
        width: 400px;
        height: 250px;
    
    }
}

.video-item {
    position: relative;
    display: inline-block; /* Ensure overlay aligns properly */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4; /* Adjust opacity as needed */
    color: black;
    font-size: 48px; /* Adjust font size as needed */
   
}

.video-item:hover .overlay {
    display: block; /* Show overlay on hover */
    opacity: 0.8;
    color: white;
}

.overlay i {
    cursor: pointer;
}

img, button {
    cursor:pointer;
}
/* Style the scrollbar */
.sidee::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.sidee::-webkit-scrollbar-track {
    background: rgb(99, 99, 99); /* Color of the scrollbar track */
}

/* Handle */
.sidee::-webkit-scrollbar-thumb {
    background: lightyellow; /* Color of the scrollbar handle */
}

.sidee {
    margin-left: 60px;
    margin-right: 50px;
    width: 1200px;
}

.video-item{
    margin-left: 100px;
    margin-bottom: 50px;
}